<% @room = Room.where(:user_id => @user.id).first %>

<div id="head"><%= @user.kerberos %>'s DormRoom</div>
<p>Below you will find your items for sale, your previous purchases, and previous sales.  Add new items, and edit those already for sale.  Visit The Lounge to see what you can claim right now.</p>
<br/>
<h3>Selling</h3>
<!--<p class="mini"><%= link_to 'see more', room_path %></p>-->
<table class='itemlist'>
	<tr>
		<th></th>
		<th>Item</th>
		<th>Price</th>
		<th>Status</th>
		<th>Description</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% Item.where(:room_id => @room.id).each do |item| %>
		<% if item.status != 'bought' %>
	<tr>
		<td class='image'>
			<% if item.photo.exists? then %>
				<%= image_tag item.photo.url(:thumb) %>
			<% end %>
		</td>
		<td><%= link_to item.name, item %></td>
		<td><%= number_to_currency(item.price) %></td>
		<td><%= item.status %></td>
		<td><%= item.description %></td>
		<td><%= link_to 'Delete', item, method: :delete, :confirm => 'Are you sure you want to delete this item from your dormroom?' %></td>
		<td>
			<% if item.status == 'active' %>
				<%= link_to 'Edit', edit_item_path(item) %>
			<% else %>
				Claimed by <%= User.find(item.bag_id).kerberos %>
			<% end %>
		</td>
		<td></td>
		<td></td>
	</tr>
		<% else %>		
	<tr>
		<td class='image'></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
		<% end %>
	<% end %>
</table>

<%= link_to 'Add Item', new_item_path %>
<br/>
<br/>
<h3>Purchases</h3><!--<% link_to 'see more', bag_path %>-->
<table class='itemlist'>
	<tr>
		<th></th>
		<th>Item</th>
		<th>Price</th>
		<th>Owner</th>
		<th>Date</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @bag = Bag.where(:user_id => current_user.id).first %>
	<% @bag.items.each do |item| %>
		<% if item.status == 'bought' %>
			<% @kerberos = User.find(@room.user_id).kerberos %>
	<tr>
		<td class='image'>
			<% if item.photo.exists? then %>
				<%= image_tag item.photo.url(:thumb) %>
			<% end %>
		</td>
		<td><%= link_to item.name, item %></td>
		<td><%= number_to_currency(item.price) %></td>
		<td><%= @kerberos %></td>
		<td><%= item.updated_at %></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
		<% else %>		
	<tr>
		<td class='image'></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
		<% end %>
	<% end %>
</table>

<br/>
<br/>
<h3>Sales</h3><!--<% link_to 'see more', bag_path %>-->
<table class='itemlist'>
<tr>
<th></th>
<th>Item</th>
<th>Price</th>
<th>Status</th>
<th>Description</th>
<th></th>
<th></th>
</tr>

<% Item.where(:room_id => @room.id).each do |item| %>
<% if item.status == 'bought' %>
<tr>
<td class='image'>
<% if item.photo.exists? then %>
	<%= image_tag item.photo.url(:thumb) %>
<% end %>
</td>
<td><%= link_to item.name, item %></td>
<td><%= number_to_currency(item.price) %></td>
<td><%= item.status %></td>
<td><%= item.description %></td>
<td></td>
<td></td>
</tr>
<% else %>		
	<tr>
		<td class='image'></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
		<% end %>
	<% end %>
</table>
